h2{
text-align: center;
font-family: cursive;
margin-bottom: 50px;
}

.content {
    margin-top: 20px;
    margin-bottom: 15px;
    border: solid 2px red;
}


.content ul{
    padding-bottom: 18px;
}

.content li {
    border: solid 1px black;
    text-align: center;
}

.row {
    border: solid 1px black;
    justify-content: space-around;
    padding-top: 15px;
    padding-left: 10px;
}

.row h2{
padding-bottom: 15px;
}

.card {
    margin-top: 15px;
    margin-bottom: 30px;
}

.card img{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8);
}

.card-body > .btn{
font-family: cursive;
}

.card-body h5{
    font-family: cursive;
    text-align: center;
}
